:root {
    --light: #F8F6FF;
    --dark: #000000;
    --primary: #008FC2;
    --secondary: #FFCA0C;
    --tertiary: #919191;
    --tertiary-light: #D9D9D9;
    --titleFont: "Meow Script";
    --textFont: "Poppins", sans-serif;
}

* {
    font-family: var(--textFont);
}

body {
    background-color: var(--light);
}

h1 {
    font-family: var(--titleFont);
}

.lifeline {
    width: 16px;
    background: linear-gradient(180deg, #FFCA0C 0%, rgba(255, 202, 12, 0.50) 44.6%, rgba(0, 143, 194, 0.53) 60.6%, #008FC2 100%);
}

.lifeline-small {
    width: 10px;
    background: linear-gradient(180deg, #FFCA0C 0%, rgba(255, 202, 12, 0.50) 44.6%, rgba(0, 143, 194, 0.53) 60.6%, #008FC2 100%);
}

.thumbnail-wrapper-sm {
    max-width: 100px;
    max-height: 100px;
}

.thumbnail-wrapper {
    max-width: 200px;
    max-height: 200px;
}

.propic-big {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.propic-medium {
    width: 50px;
    height: 50px;
    border-radius: 26px;
}

.propic-small {
    width: 35px;
    height: 35px;
    border-radius: 26px;
}


/* probably we gonna need the propic small (comments?) */


/* icon in post page */

.icon-big {
    height: 32px;
    width: 32px;
}


/* icon in tag and diary*/

.icon-medium {
    height: 26px;
    width: 26px;
}


/* icon in homepage */

.icon-small {
    height: 20px;
    width: 20px;
}

@media only screen and (max-device-width: 480px) {
    .background {
        background-image: url("../images/mobile-wallpaper.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    h1 {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    input::placeholder,
    textarea::placeholder {
        color: var(--dark);
    }
    nav h1 {
        font-size: 40px;
        text-shadow: none;
    }
    nav {
        height: 10%;
    }
}