:root {
    --light: #F8F6FF;
    --dark: #000000;
    --primary: #008FC2;
    --secondary: #FFCA0C;
    --tertiary: #919191;
    --tertiary-light: #D9D9D9;
    --titleFont: "Meow Script";
    --textFont: "Poppins";
}

* {
    font-family: var(--textFont);
}

@media only screen and (max-device-width: 480px) {
    body {
        background-image: url("../images/mobile-wallpaper.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    h1 {
        font-family: var(--titleFont);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    input::placeholder {
        color: var(--dark);
    }
}